cloudpickle==3.1.2
econml==0.16.0
et_xmlfile==2.0.0
joblib==1.4.2
lightgbm==4.7.0
llvmlite==0.48.0
narwhals==2.24.0
numba==0.66.0
numpy==2.2.3
openpyxl==3.1.5
packaging==26.0
pandas==2.2.3
patsy==1.0.2
python-dateutil==2.9.0.post0
pytz==2026.2
scikit-learn==1.6.1
scipy==1.15.3
setuptools==83.0.0
shap==0.48.0
six==1.17.0
slicer==0.0.8
sparse==0.19.0
statsmodels==0.14.6
threadpoolctl==3.6.0
tqdm==4.69.1
typing_extensions==4.16.0
tzdata==2026.3
wheel==0.47.0
